{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">s
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'global/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/tables.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/atualizar.css' %}">
  </head>

  <body id="body">
    {% block content %}

      <section class="section-page">

        <div class="main-content div-editar">
          <h3>{% block h3 %}{{ titulo }}{% endblock h3 %}</h3>

          <form class="formulario" action="{{ url_action }}" method="POST">
            {% csrf_token %}
            
            {% block formulario %}
            {% endblock formulario %}
            
            <p>
              <button type="submit" class="button">Alterar</button>
            </p>
          </form>
          <br>    
          <a href="{{ url_href }}" class="link-voltar">Cancelar e Voltar</a>
        </div>
      </section>

    {% endblock content %}
  </body>
</html>
