<!--Home-->
<section id="home" class="main-content section-page">
    <div>
    <h1>Comparador de Preços</h1>
    <p>
        Esta é uma aplicação protótipo para comparação de preços de medicamentos.
    </p>
    <br>
    {% comment %} <p>
        Para pesquisar o preço de um medicamento, é preciso que o preço do medicamento em uma farmácia esteja cadastrado. Para isso, tanto a farmácia quanto o medicamento (e respectivo  fabricante) precisam estar cadastrados. Dessa forma, estando a farmácia e medicamento cadastrados, no cadastro do preço selecione a opção desejada para medicamento, fabricante (após filtrar) e farmácia, e informe o preço. Para cadastrar o preço, se as opções para farmácia ou medicamento não correspondem ao esperado, se não aparecem na caixa de seleção, é porque ainda não estão cadastrados e é preciso cadastrá-los antes de cadastrar o preço. Assim, havendo o cadastro do preço de um medicamento em uma farmácia, a pesquisa do preço pode ser feita, quando uma nova tela é aberta com a listagem do medicamento dos diferentes fabricantes para as diferentes farmácias e o menor preço fica em destaque. 
    </p> {% endcomment %}
    </div>
</section>
