<!--Sobre-->
<section id="about" class="main-content section-page">
    <div>
    <div class="about">
        <h2>Projeto Integrador 2</h2>
        <p>Esta aplicação foi desenvolvida no 2o semestre de 2026 dentro do contexto da <b>disciplina DRP03 - Projeto Integrador em Computação
            2</b> da Univesp, sob <b>orientação de João Pedro Galdino Pillar</b>, pelos <b>integrantes do Grupo 10</b>:
        </p>
    </div>
    <div>
        <ul class="integrantes">
        <li>Ana Carolina Gomes Franco </li>
        <li>Ana Paula Nunes Barbosa </li>
        <li>Cesar Yukio Kato </li>
        <li>Daniel Guilherme dos Santos </li>
        <li>Emilly Cristina Rodrigues da Silva </li>
        <li>João Pedro Lima Marcelo</li>
        <li>Ronaldo Mitsuo Sato </li>
        <li>Willian Arlindo Batista</li>
        </ul>
    </div>
    </div>
</section>
