:root {  /* forma de se definir variáveis */
  --primary-color: #e0ebeb;  /* cor fundo */
  --black: #000;             /* cor letra */
  --white: #fff;             /* cor menu */
  --gap: 6rem;                 /* padronizar espaçamento das seções */
}

* {  /* seletor universal: seleciona tudo */
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  /* caixa - para dentro: border, padding (e content), para fora: margin */
  /* Landing page: elementos da largura da tela */
}

/* comportamento border-box
  para fora: margin;
  para dentro: border, padding (e content)
*/

html {  /* seletor por elemento */
  font-size: 62.5%;  /* para usar unidade relativa rem (1rem = 10px) */
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;  /* ativação de imã de rolagem no contêiner principal */
  scroll-padding-top: 2rem; /* distância da âncora de navegação para o topo */
}

.montserrat {  /* para headings */
  /* 
  <weight>: Use a value from 100 to 900
  <uniquifier>: Use a unique and descriptive class name
  */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.open-sans {  /* para textos */
  /* 
  <weight>: Use a value from 300 to 800
  <uniquifier>: Use a unique and descriptive class name
  */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#body {  /* seletor por id */
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;  /* 16px */
  line-height: 1.5;
  max-width: 100%;
  background-color: var(--primary-color);
  /* background-image: url('../img/scattered.svg'); */
  /* background-position: center center; */
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}


h1 {
  font-size: 5rem;
  text-transform: uppercase;  /* Letras maiúsculas */
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 4rem;
}


p {
  font-size: 2rem;
}

/* a {
  text-decoration: none;
} */

/* fundo principal */
.main-bg {
  /* background-image: url('../img/scattered.svg'); */
  /* background-position: center center; */
  color: var(--black);
}

/* sustentar o conteúdo */
.main-content {
  max-width: 100rem;
  margin: 0 auto;
}

.section-page {  /* Landing Page */
  min-height: 100vh;  /* cada seção ocupará o espaço vertical do viewport */
  display: flex;
  flex-direction: column;  /* direção eixo principal */
  justify-content: center;
  text-align: center;
  /* padding-top: var(--gap); */
}

.menu {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;  /* fixar sempre no topo (outros elementos não sabem disso) */
  left: 0;   /*                                                */
  top: 0;    /*  Fixando e evitando comportamentos indesejados */
  right: 0;  /*                                                */
  width: 100%;  /* comprimento do viewport */
  height: var(--gap);
  z-index: 100;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  padding-top: 0;
}

.menu nav,
.menu-content{
  height: 100%;
}

.menu ul {
  list-style: none;
  display: flex; 
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
}

.menu ul li a {
  font-size: 3rem;
  color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 1.25rem 3rem;
  position: relative;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 1.1rem;
  left: 50%;
  width: 0;
  height: 0.25rem;
  background: var(--white)  ;
  transition: all 300ms ease-in-out;
  z-index: -1;
}

.menu ul li a:hover::after {  /* :hover psedo-seletor da passagem do cursor */
  width: 72%;
  left: 14%;
}

.about {
    margin-bottom: 2rem; /* empurrar o que vem depois (lista) para baixo */
}

.about p {  /* p descendente da .about */
  max-width: 80rem;    /* Define a largura máxima desejada */
  margin-left: auto;   /* Centraliza horizontalmente */
  margin-right: auto;  /* Centraliza horizontalmente */
  text-align: center;  /* Opcional: centraliza o texto dentro do parágrafo */
  line-height: 1.5;    /* Melhora a legibilidade com espaçamento entre linhas */
}

.integrantes {
  font-size: 1.5rem;
}

.integrantes ul {
  align-content: center;
}

.integrantes li {
  list-style: none;      /* remover marcação */
  margin-bottom: .8rem;  /* adiciona espaçamento vertical entre os itens */
}

/* Remover espaçamento do último item (remover espaço no final da seção) */
.integrantes li:last-child {
    margin-bottom: 0;
}
